.create-group-btn {
  display: inline-block;
  width: fit-content;
}

.create-group-modal {
  height: fit-content;
  width: fit-content;
  margin: 10vh auto;
  max-height: 80vh;
  overflow: auto;
}

.create-group-modal-content {
  background-color: #32BB64;
}

.create-group-input {
  background-color: #32BB64;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.create-group-select-input {
  min-width: 200px;
  max-width: 300px;
}

.create-group-title{
  background-color: #32BB64;
  color: whitesmoke;
  font-weight: normal;
}

.create-group-title > h2 {
  text-transform: capitalize;
}

.uncapitalized-dialog-title {
  background-color: #32BB64;
  color: whitesmoke;
  font-weight: normal;
}