.create-group-btn {
  display: inline-block;
  width: fit-content;
  margin-top: 5vh;
}

.create-group-modal {
  height: fit-content;
  width: fit-content;
  margin: 10vh auto;
  max-height: 80vh;
  overflow: auto;
}

.create-group-modal-content {
  background-color: #32BB64;
}

.create-group-input {
  background-color: #32BB64;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.create-group-title {
  background-color: #32BB64;
  color: whitesmoke;
}

.create-group-title > h3 {
  font-weight: normal;
  color: black;
}