.contentDiv {
  margin: 0 auto;
  flex-direction: row;
  width: 70%;
  margin-top: 15em;
}

.registerBtnText {
  color: darkslategrey;
  text-decoration: underline;

}

.registerBtnText:hover {
  cursor: pointer;
}
