.login-form {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  min-width: 20em;
  min-height: 20em;
  background-color: rgba(238, 253, 238, 0.363);
  border: 20px;
  border-radius: 25px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.24), -2px -2px 12px rgba(0, 0, 0, 0.24);
}

.login-form form {
  display: inline-block;
  text-align: center;
}

.form-input {
  margin: 1.5em auto;
  font-size: large;
  display: block;
  align-content: center;
  text-align: center;
  border-radius: 15px;
  border-width: thin;
  outline: none;
}

.form-btn {
  font-size: large;
  border-radius: 10px;
  border-width: thin;
  border-style: solid;
  outline: none;
}

/* Hide increment buttons on number input field */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}