.login-main {
  height: 100%;
  width: 100%;
  position: fixed;
}

.content-div {
  margin: 0 auto;
  flex-direction: row;
  width: 70%;
  margin-top: 15em;
}

.register-btn-text {
  color: darkslategrey;
  text-decoration: underline;

}

.register-btn-text:hover {
  cursor: pointer;
}
