.contentDiv {
  margin: 0 auto;
  flex-direction: row;
  width: 70%;
  margin-top: 15em;
}

.registerBtnText {
  color: darkslategrey;
  text-decoration: underline;

}

.registerBtnText:hover {
  cursor: pointer;
}

.formInput {
  margin: 2em auto;
  font-size: large;
  display: block;
  align-content: center;
  text-align: center;
}

.formBtn {
  font-size: large;
  border-radius: 10px;
  border-style: hidden;
}