.App {
  text-align: center;
  align-content: center;
  align-self: center;
  background-color: #1f974b7c;
  height:100vh;
  width: 100vw;
  position: absolute;
}

button {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
