.App {
  text-align: center;
  background-color: #1f974b7c;
  height:100%;
  width: 100%;
  position: flex;
  flex-direction: row;
}

button {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.alert {
  /*Using important to overwrite component CSS since it is
  an importet component, otherwise our custom CSS will be overwritten
  by the component built in CSS*/
  position: fixed;
  width: fit-content;
  top: 5vh;
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto;
  z-index: 100;
}