.collapse-button {
  cursor: pointer;
  font-size: 1.5em;
  float: right;
  margin-right: 10px;
}

.collapse-bar-title {
  font-size: 1.5em;
  float: left;
  margin-left: 10px;
}

.collapse-bar-balance {
  float: left;
  margin-left: 20px;
  padding: 0;
  font-size: 1.5em;
}

.collapse-bar-pos {
  color: #40dd48;
}

.collapse-bar-neg {
  color: #f57c00;
}

.collapse-div-bar {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #308551;
  color: whitesmoke;
  display:inline-block;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.collapse-div-bar:hover {
  background-color:#1d5533;
}

.collapsible-component-container {
  padding: 0;
  margin: 0;
  width: 100%;
}