.LoginForm {
  display: inline-block;
  margin: 0 auto;
  min-width: 20em;
  min-height: 20em;
  background-color: whitesmoke;
  border: 20px;
  border-radius: 25px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.24), -2px -2px 12px rgba(0, 0, 0, 0.24);
}