.navButtonDiv {
  padding: 5px 10px;
  margin: 0 0.5cm;
}

.navButtonText {
  color: whitesmoke;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
} 

.navButtonDiv:hover{
  border-radius: 10px;
  background-color: #308551;
}

.navButtonDiv:hover > * {
  color: aquamarine;
}

.active {
  border-radius: 10px;
  background-color: #308551;
}

.active > * {
  color: aquamarine;
}