.nav-button-div {
  padding: 5px 10px;
  margin: 0 1vw;
  position: relative;
}

.nav-button-text {
  color: whitesmoke;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.nav-button-div:hover{
  border-radius: 10px;
  background-color: #308551;
}

.nav-button-div:hover > a {
  color: aquamarine;
}

.active {
  border-radius: 10px;
  background-color: #308551;
}

.active > * {
  color: aquamarine;
}